.card {
    padding: 5 rem;
    background-color: blue;
}

h1 {
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    width: 90%;
    margin: 0 auto;
}

.cardWrapper {
    position: relative;
    margin: 20px 10px 10px 50px;
}

.cardItem {
    display: flex;
    margin: 0 1rem;
    border-radius: 10px;
}

.cardItemLink {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
}

.cardItemPicWrapper {
    display:flex;
    width:100%;
}

.cardItemInfo {
    display:flex;
    width:100%;
    color: purple;
}

.cardItemText {
    display:flex;
    width:100%;
    color: #d10909;
}

.cardItemPicWrapper {
    position: relative;
    width: 100%;
    padding-top: 80%;
    overflow: hidden;
}

.cardItemPicWrapper::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: purple;
    background-color: blue;
    box-sizing: border-box;
}

.cardItemImg {
    position: absolute
}