.contactDataContainer{
    max-width: 100%;
    background-color: #ffff;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
}

.contactDetailsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
}

.contactDetails{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   }
                
.contactAddress {
    display: block;
    align-items: left;
    color: black;
    font-size: larger;
    font-weight: bold;
    padding: 20px;
}
                 
a  {
    text-decoration: none;
    color: black;
}

.phoneStyle, .mailStyle {
    text-decoration: none;
    color: black; 
}

.contactAddress {
    padding: 20px;
}

iframe{
    width: 400px; 
    height:400px;
    margin: 0;
} 