.courseContainer {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.courseDataContainer{
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
    
}

.courseDetailsPageWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.courseDetailsWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.coursePictureModule{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courseTextModule{
    width: 80%;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
   }

.courseTextModule h2 {
    margin-top: 0;
    color: #480CA8;
}
.courseImg {
    max-width: 80%;
    display: block;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    object-fit: scale-down;
}


.courseImg:hover {
    opacity: 0.3;
}

.halfLine {
    height: 3px;
    background: #480CA8;
    width: 50%;
    border: 0px;
    float: left;
}
