
.SchoolComponentCard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100px;
}

.SchoolComponentCardDetail {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: ;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.SchoolComponentCardDetail:hover {
    transform: scale(1.05);
}

.instructorImg {
    max-width: 80%;
    display: block;
    border-radius: 50%;
    border: solid 5px rgb(10, 168, 196);
    object-fit: scale-down;
    margin:3px;
}


.Img:hover {
    opacity: 0.3;
}
.SchoolComponentCardDetail h2 {
    color: rgb(10, 168, 196);;
}

.SchoolComponentCardDetail span {
    display:block;
    /* margin: 3px; */
}

.licensenumber,
.location {
    font-weight: bold;
    font-size: 1.2rem;
}


.schoolname {
    font-weight: bold;
    font-size: 1.2rem;
    color: darkblue;
}